APPLICATION_NAME = MERN-User-Manager

PORT = 4000

# Use development for dev environment and production for prod environment
NODE_ENV = development
# NODE_ENV = production

# JWT Secrets
JWT_KEY = ninjadojoshifuyoshimarioluigipeachbowser
JWT_TOKEN_DURATION = 30d


MONGO_DB_URI = mongodb+srv://amani:amani@cluster0.d98twl4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


ADMIN_REGISTRATION_KEY = your_adminSecret
